$background-pri: #017019;
$text-color-pri: #ff9f04;
$font-weight: (
	'normal': 400,
	'bold': 600,
	'bolder': 800,
);
$justify-content: (
	'cen': center,
	'sp-bt': space-between,
	'sp-ar': space-around,
);
